.title{
    text-align: center;
}

.info-surround{
    height: auto;
    padding-bottom: 21px;
    padding-left: 21px;
    text-align: left;

}

.imp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 16px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
 
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }

  button{
    margin: 10px;
    cursor: pointer;
    background-color: rgb(117, 201, 250);
    color: black;
  }

  input{
    background-color: rgb(205, 235, 253);
    color: black;
    margin: 3px;
    border: 2px solid;
    border-color: rgb(117, 201, 250);
  }


  

